// ## Colors

$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);
$fw-md: 500;
$fw-sb: 700;

$fs-lg: 1.3rem;
$fs-md: 0.875rem; // 14px;
$fs-sm: 0.625rem; // 10px;